.employee-header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.employee-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.create-emp-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: cadetblue;
    border-radius: 10px;
}

.search-bar-container{
    margin-top: 25px;
    display: flex;
    justify-content: start;
}